connexion[swagger-ui,flask,uvicorn] 
python_dateutil
setuptools
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy
pymysql
sqlalchemy
sqlalchemy-utils
Flask-MySQL
cryptography
mysql-connector-python
pymongo
orjson
ksqldb
