connexion[swagger-ui,flask,uvicorn] 
werkzeug
swagger-ui-bundle
python_dateutil
setuptools
Flask
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy
pymysql
sqlalchemy-utils
Flask-MySQL
ksql
cryptography
waitress
swagger-ui-bundle
mysql-connector-python
pymongo
